*.tar.gz

*.exe
src/*.exe
src/*/*.exe
src/reddcoin
src/reddcoind
src/reddcoin-cli
src/test/test_reddcoin
src/qt/test/test_reddcoin-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/.deps/
src/Makefile.in
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
src/build-aux/
src/qt/Makefile.in
share/setup.nsi
share/qt/Info.plist

src/leveldb/.deps/

src/test/.deps
src/test/.dirstamp

src/qt/.deps/
src/qt/.dirstamp
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/.deps/
src/qt/test/.dirstamp
src/qt/test/moc*.cpp
src/qt/res/.deps/
src/qt/res/.dirstamp

.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.reddcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
reddcoin-qt
Reddcoin-Qt.app

# Unit-tests
Makefile.test
reddcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile

.qmake.stash
Info.plist
Reddcoin-Qt.xcodeproj
dist/
*.dmg

#lcov
*.gcno
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile

src/tags

# Output of contrib/check-upstream.sh
merge-*.txt

*.sublime-project
*.sublime-workspace
